.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
.nf-test
.nf-test.log
tables/decoupler/{deseq2,limma}_treatment_mCherry_hND6__SRP254919_{consensus,ulm}_{estimate,pvals}_decoupler.tsv
tables/decoupler/{deseq2,limma}_treatment_mCherry_hND6_sample_number_SRP254919_{consensus,ulm}_{estimate,pvals}_decoupler.tsv
tables/decoupler/dream_full_model_with_interactions_SRP254919_{consensus,ulm}_{estimate,pvals}_decoupler.tsv
tables/decoupler/dream_interaction_genotype_treatment_SRP254919_{consensus,ulm}_{estimate,pvals}_decoupler.tsv
tables/decoupler/dream_treatment_plus_genotype_SRP254919_{consensus,ulm}_{estimate,pvals}_decoupler.tsv
