/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: UNTAR {
        tag = {"${meta.study_name}"}
        ext.prefix = { "${meta.study_name}" }
        publishDir = [
            [
                path: { "${params.outdir}/untar/${meta.study_name}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: GUNZIP_GTF {
        tag = {"${meta.study_name}"}
        ext.prefix = { "${meta.study_name}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: GTF_TO_TABLE {
        tag = {"${meta.study_name}"}
        ext.prefix = { "${meta.study_name}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/annotation" },
                mode: params.publish_dir_mode,
                pattern: '*.anno.tsv'
            ]
        ]
        ext.args = { "--feature-type '${meta.features_gtf_feature_type}' --first-field '${meta.features_gtf_table_first_field}'" }
    }

    withName: VALIDATOR {
        tag = {"${meta.study_name}"}
        ext.prefix = { "${meta.study_name}" }
        publishDir = [
            enabled: false
        ]
        ext.args = { "--sample_id_col '${meta.observations_id_col}' --feature_id_col '${meta.features_id_col}'" }
    }

    withName: AFFY_JUSTRMA_RAW {
        tag = {"${meta.study_name}"}
        ext.prefix = { "raw." }
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.matrix.tsv'
            ],
            [
                path: { "${params.outdir}/tables/annotation" },
                mode: params.publish_dir_mode,
                pattern: '*.annotation.tsv'
            ],
            [
                path: { "${params.outdir}/other/affy" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            "--sample_name_col \"" + (meta.observations_name_col == null ? meta.observations_id_col : meta.observations_name_col) + "\"",
            "--file_name_col \"${meta.affy_file_name_col}\"",
            "--background ${meta.affy_background}",
            "--normalize False",
            "--bgversion ${meta.affy_bgversion}",
            "--destructive ${meta.affy_destructive}",
            "--rm.mask ${meta.affy_rm_mask}",
            "--rm.outliers ${meta.affy_rm_outliers}",
            "--rm.extra ${meta.affy_rm_extra}",
            "--build_annotation ${meta.affy_build_annotation}"
        ].join(' ').trim() }
    }

    withName: AFFY_JUSTRMA_NORM {
        tag = {"${meta.study_name}"}
        ext.prefix = { "normalised." }
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.matrix.tsv'
            ],
        ]
        ext.args = { [
            "--sample_name_col \"" + (meta.observations_name_col == null ? meta.observations_id_col : meta.observations_name_col) + "\"",
            "--file_name_col \"${meta.affy_file_name_col}\"",
            "--background ${meta.affy_background}",
            "--normalize True",
            "--bgversion ${meta.affy_bgversion}",
            "--destructive ${meta.affy_destructive}",
            "--rm.mask ${meta.affy_rm_mask}",
            "--rm.outliers ${meta.affy_rm_outliers}",
            "--rm.extra ${meta.affy_rm_extra}",
            "--build_annotation ${meta.affy_build_annotation}"
        ].join(' ').trim() }
    }

    withName: PROTEUS {
        tag = {"${meta.contrast}"}
        ext.prefix = { "${meta.contrast}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/proteus/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ],
            [
                path: { "${params.outdir}/plots/proteus/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/other/proteus/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.rds'

            ],
            [
                path: { "${params.outdir}/other/proteus/" },
                mode: params.publish_dir_mode,
                pattern: '*sessionInfo.log'
            ]
        ]
        ext.args = { [
            "--contrast_variable \"${meta.contrast}\"",
            "--sample_id_col \"${meta.observations_id_col}\"",
            "--protein_id_col \"${meta.features_id_col}\"",
            "--measure_col_prefix \"${meta.proteus_measurecol_prefix}\"",
            "--norm_function $meta.proteus_norm_function",
            "--plotsd_method $meta.proteus_plotsd_method",
            "--plotmv_loess $meta.proteus_plotmv_loess",
            "--palette_name $meta.proteus_palette_name",
            "--round_digits $meta.report_round_digits"
        ].join(' ').trim() }
    }

    withName: GEOQUERY_GETGEO {
        tag = {"${meta.study_name}"}
        ext.prefix = { "normalised." }
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.matrix.tsv'
            ],
            [
                path: { "${params.outdir}/tables/annotation" },
                mode: params.publish_dir_mode,
                pattern: '*.annotation.tsv'
            ],
            [
                path: { "${params.outdir}/other/affy" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.args = {
            ((meta.features_metadata_cols == null) ? '' : "--metacols \"${meta.features_metadata_cols}\"")
        }
    }

    withName: DESEQ2_NORM {
        tag = {"${meta.study_name}"}
        ext.prefix = 'all'
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.{normalised_counts,vst,rlog}.tsv'
            ],
        ]
        ext.args = { [
            "--gene_id_col \"${meta.features_id_col}\"",
            "--sample_id_col \"${meta.observations_id_col}\"",
            "--test $meta.deseq2_test",
            "--fit_type $meta.deseq2_fit_type",
            "--sf_type $meta.deseq2_sf_type",
            "--min_replicates_for_replace $meta.deseq2_min_replicates_for_replace",
            "--use_t $meta.deseq2_use_t",
            "--lfc_threshold $meta.deseq2_lfc_threshold",
            "--alt_hypothesis $meta.deseq2_alt_hypothesis",
            "--independent_filtering $meta.deseq2_independent_filtering",
            "--p_adjust_method $meta.deseq2_p_adjust_method",
            "--alpha $meta.deseq2_alpha",
            "--minmu $meta.deseq2_minmu",
            "--vs_method $meta.deseq2_vs_method",
            "--vs_blind $meta.deseq2_vs_blind",
            "--vst_nsub $meta.deseq2_vst_nsub",
            "--shrink_lfc $meta.deseq2_shrink_lfc",
            "--cores $meta.deseq2_cores",
            "--round_digits $params.report_round_digits",
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
        ].join(' ').trim() }
    }

    withName: DESEQ2_DIFFERENTIAL {
        tag = {"${meta.id}"}
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/differential" },
                mode: params.publish_dir_mode,
                pattern: '*.deseq2.results.tsv'
            ],
            [
                path: { "${params.outdir}/plots/qc" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/other/deseq2" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sizefactors.tsv,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            "--gene_id_col \"${meta.features_id_col}\"",
            "--sample_id_col \"${meta.observations_id_col}\"",
            "--test $meta.deseq2_test",
            "--fit_type $meta.deseq2_fit_type",
            "--sizefactors_from_controls $meta.sizefactors_from_controls",
            "--sf_type $meta.deseq2_sf_type",
            "--min_replicates_for_replace $meta.deseq2_min_replicates_for_replace",
            "--use_t $meta.deseq2_use_t",
            "--lfc_threshold $meta.deseq2_lfc_threshold",
            "--alt_hypothesis $meta.deseq2_alt_hypothesis",
            "--independent_filtering $meta.deseq2_independent_filtering",
            "--p_adjust_method $meta.deseq2_p_adjust_method",
            "--alpha $meta.deseq2_alpha",
            "--minmu $meta.deseq2_minmu",
            "--vs_method $meta.deseq2_vs_method",
            "--vs_blind $meta.deseq2_vs_blind",
            "--vst_nsub $meta.deseq2_vst_nsub",
            "--shrink_lfc $meta.deseq2_shrink_lfc",
            "--cores $meta.deseq2_cores",
            "--subset_to_contrast_samples $meta.differential_subset_to_contrast_samples",
            "--round_digits $meta.report_round_digits",
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
            ((meta.exclude_samples_col == null) ? '' : "--exclude_samples_col $meta.exclude_samples_col"),
            ((meta.exclude_samples_values == null) ? '' : "--exclude_samples_values $meta.exclude_samples_values")
        ].join(' ').trim() }
    }

    withName: LIMMA_NORM {
        tag = {"${meta.study_name}"}
        ext.prefix = 'all'
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.{normalised_counts}.tsv'
            ],
        ]
        ext.when = { meta.limma_use_voom }
        ext.args = { [
            "--probe_id_col \"${meta.features_id_col}\"",
            "--sample_id_col \"${meta.observations_id_col}\"",
            "--ndups \"${meta.limma_ndups}\"",
            "--spacing \"${meta.limma_spacing}\"",
            "--block \"${meta.limma_block}\"",
            "--correlation ${meta.limma_correlation}",
            "--method \"${meta.limma_method}\"",
            "--proportion ${meta.limma_proportion}",
            "--stdev.coef.lim \"${meta.limma_stdev_coef_lim}\"",
            "--trend ${meta.limma_trend}",
            "--robust ${meta.limma_robust}",
            "--winsor.tail.p \"${meta.limma_winsor_tail_p}\"",
            "--p.value ${meta.limma_p_value}",
            "--lfc ${meta.limma_lfc}",
            "--confint ${meta.limma_confint}",
            "--use_voom \"${meta.limma_use_voom}\"",
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
        ].join(' ').trim() }
    }

    withName: LIMMA_DIFFERENTIAL {
        tag = {"${meta.id}"}
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/differential" },
                mode: params.publish_dir_mode,
                pattern: '*.limma.results.tsv'
            ],
            [
                path: { "${params.outdir}/plots/qc" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/other/limma" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            "--probe_id_col \"${meta.features_id_col}\"",
            "--sample_id_col \"${meta.observations_id_col}\"",
            "--ndups \"${meta.limma_ndups}\"",
            "--spacing \"${meta.limma_spacing}\"",
            "--block \"${meta.limma_block}\"",
            "--correlation ${meta.limma_correlation}",
            "--method \"${meta.limma_method}\"",
            "--proportion ${meta.limma_proportion}",
            "--stdev.coef.lim \"${meta.limma_stdev_coef_lim}\"",
            "--trend ${meta.limma_trend}",
            "--robust ${meta.limma_robust}",
            "--winsor.tail.p \"${meta.limma_winsor_tail_p}\"",
            "--p.value ${meta.limma_p_value}",
            "--lfc ${meta.limma_lfc}",
            "--confint ${meta.limma_confint}",
            "--subset_to_contrast_samples $meta.differential_subset_to_contrast_samples",
            "--use_voom \"${meta.limma_use_voom}\"",
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
            ((meta.exclude_samples_col == null) ? '' : "--exclude_samples_col $meta.exclude_samples_col"),
            ((meta.exclude_samples_values == null) ? '' : "--exclude_samples_values $meta.exclude_samples_values")
        ].join(' ').trim() }
    }

    withName: CUSTOM_FILTERDIFFERENTIALTABLE {
        ext.prefix = { "${input_file.toString().split("\\.").init().join(".")}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/differential" },
                mode: params.publish_dir_mode,
                pattern: '*_filtered.tsv'
            ]
        ]
    }

    withName: IMMUNEDECONV {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/immunedeconv" },
                mode: params.publish_dir_mode,
                pattern: '*.deconvolution_results.tsv'
            ],
            [
                path: { "${params.outdir}/plots/immunedeconv" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ]
        ]
    }

    withName: GSEA_GSEA {
        ext.prefix = { "${meta.id}.${gene_sets.baseName}." }
        publishDir = [
            [
                path: { "${params.outdir}/report/gsea/${meta.id}/${gene_sets.baseName}" },
                mode: params.publish_dir_mode,
                pattern: '*.{html,zip,png,tsv,rpt}'
            ]
        ]
        ext.args = { [
            "-nperm $meta.gsea_nperm",
            "-permute $meta.gsea_permute",
            "-scoring_scheme $meta.gsea_scoring_scheme",
            "-metric $meta.gsea_metric",
            "-sort $meta.gsea_sort",
            "-order $meta.gsea_order",
            "-set_max $meta.gsea_set_max",
            "-set_min $meta.gsea_set_min",
            "-norm $meta.gsea_norm",
            "-rnd_type $meta.gsea_rnd_type",
            "-make_sets $meta.gsea_make_sets",
            "-median $meta.gsea_median",
            "-num $meta.gsea_num",
            "-plot_top_x $meta.gsea_plot_top_x",
            "-rnd_seed $meta.gsea_rnd_seed",
            "-save_rnd_lists $meta.gsea_save_rnd_lists",
            "-zip_report $meta.gsea_zip_report"
        ].join(' ').trim() }
    }

    withName: GPROFILER2_GOST {
        publishDir = [
            [
                path: { "${params.outdir}/tables/gprofiler2/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ],
            [
                path: { "${params.outdir}/plots/gprofiler2/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{png,html}'
            ],
            [
                path: { "${params.outdir}/other/gprofiler2/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,gmt}'
            ],
            [
                path: { "${params.outdir}/other/gprofiler2/" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            "--significant \"${meta.gprofiler2_significant}\"",
            "--measure_underrepresentation \"${meta.gprofiler2_measure_underrepresentation}\"",
            "--correction_method \"${meta.gprofiler2_correction_method}\"",
            "--evcodes \"${meta.gprofiler2_evcodes}\"",
            "--pval_threshold \"${meta.gprofiler2_max_qval}\"",
            "--domain_scope ${meta.gprofiler2_domain_scope}",
            "--min_diff \"${meta.gprofiler2_min_diff}\"",
            "--round_digits ${meta.report_round_digits}",
            "--palette_name \"${meta.gprofiler2_palette_name}\"",
            ((meta.differential_feature_id_column == null) ? '' : "--de_id_column \"${meta.differential_feature_id_column}\""),
            ((meta.gprofiler2_token == null) ? '' : "--token \"${meta.gprofiler2_token}\""),
            ((meta.gprofiler2_organism == null) ? '' : "--organism \"${meta.gprofiler2_organism}\""),
            ((meta.gprofiler2_background_column == null) ? '' : "--background_column \"${meta.gprofiler2_background_column}\""),
            ((meta.gprofiler2_sources == null) ? '' : "--sources \"${meta.gprofiler2_sources}\"")
        ].join(' ').trim() }
    }

    withName: PLOT_EXPLORATORY {
        publishDir = [
            path: { "${params.outdir}/plots/exploratory" },
            mode: params.publish_dir_mode,
        ]
        memory = { 12.GB * task.attempt }
        ext.args = { [
            "--sample_id_col \"${meta.observations_id_col}\"",
            "--feature_id_col \"${meta.features_id_col}\"",
            "--assay_names \"${meta.exploratory_assay_names}\"",
            "--final_assay \"${meta.exploratory_final_assay}\"",
            "--outlier_mad_threshold ${meta.exploratory_mad_threshold}",
            "--palette_name \"${meta.exploratory_palette_name}\"",
            ( (meta.study_type == 'maxquant') ? "--log2_assays ''" : (((meta.exploratory_log2_assays == null) ? '' : "--log2_assays \"$meta.exploratory_log2_assays\"".replace('[', '').replace(']', ''))) )
        ].join(' ').trim() }
    }

    withName: PLOT_DIFFERENTIAL {
        publishDir = [
            path: { "${params.outdir}/plots/differential" },
            mode: params.publish_dir_mode,
        ]
        memory = { 12.GB * task.attempt }
        ext.args = { [
            "--feature_id_col \"${params.features_id_col}\"",
            "--reference_level \"$meta.reference\"",
            "--treatment_level \"$meta.target\"",
            "--fold_change_col \"${meta.differential_fc_column}\"",
            "--p_value_column \"${meta.differential_qval_column}\"",
            "--diff_feature_id_col \"${meta.differential_feature_id_column}\"",
            "--fold_change_threshold \"${meta.differential_min_fold_change}\"",
            "--p_value_threshold \"${meta.differential_max_qval}\"",
            "--unlog_foldchanges \"${meta.differential_foldchanges_logged}\"",
            "--palette_name \"${meta.differential_palette_name}\""
        ].join(' ').trim() }
    }

    withName: SHINYNGS_APP {
        secret = (params.shinyngs_deploy_to_shinyapps_io) ? [ 'SHINYAPPS_TOKEN', 'SHINYAPPS_SECRET' ]: null

        publishDir = [
            path: { "${params.outdir}/shinyngs_app" },
            mode: params.publish_dir_mode,
        ]
        memory = { 12.GB * task.attempt }
        ext.args = { [
            "--assay_names \"${params.exploratory_assay_names}\"",
            "--sample_id_col \"${params.observations_id_col}\"",
            "--feature_id_col \"${params.features_id_col}\"",
            "--feature_name_col \"" + (params.features_name_col == null ? params.features_id_col : params.features_name_col) + "\"",
            "--diff_feature_id_col \"${meta.differential_feature_id_column}\"",
            "--fold_change_column \"${meta.differential_fc_column}\"",
            "--pval_column \"${meta.differential_pval_column}\"",
            "--qval_column \"${meta.differential_qval_column}\"",
            "--unlog_foldchanges \"${meta.differential_foldchanges_logged}\"",
            ((params.report_title == null) ? '' : "--title \"$params.report_title\""),
            ((params.report_author == null) ? '' : "--author \"$params.report_author\""),
            ((params.report_description == null) ? '' : "--description \"$params.report_description\""),
            ( (params.study_type == 'maxquant') ? "--log2_assays ''" : (((params.exploratory_log2_assays == null) ? '' : "--log2_assays \"$params.exploratory_log2_assays\"".replace('[', '').replace(']', ''))) ),
            ((params.shinyngs_deploy_to_shinyapps_io) ? "--deploy_app" : ''),
            ((params.shinyngs_shinyapps_account == null) ? '' : "--shinyapps_account \"$params.shinyngs_shinyapps_account\""),
            ((params.shinyngs_shinyapps_app_name == null) ? '' : "--shinyapps_name \"$params.shinyngs_shinyapps_app_name\"")
        ].join(' ').trim() }
    }

    withName: RMARKDOWNNOTEBOOK {
        conda = "bioconda::r-shinyngs=1.8.8"
        container = { "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://depot.galaxyproject.org/singularity/r-shinyngs:1.8.8--r43hdfd78af_0' : 'biocontainers/r-shinyngs:1.8.8--r43hdfd78af_0' }" }
        publishDir = [
            [
                path: { "${params.outdir}/report" },
                mode: params.publish_dir_mode,
                pattern: '*.html'
            ]
        ]
        memory = { 12.GB * task.attempt }
    }

    withName: MAKE_REPORT_BUNDLE {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            pattern: '*.zip'
        ]
    }

    withName: CUSTOM_MATRIXFILTER {
        tag = {"${meta.study_name}"}
        ext.prefix = {"${meta.study_name}"}
        publishDir = [
            enabled: false
        ]
        ext.args   = {[
            "--sample_id_col \"${meta.observations_id_col}\"",
            "--minimum_samples ${meta.filtering_min_samples}",
            "--minimum_abundance ${meta.filtering_min_abundance}",
            (meta.filtering_min_proportion ? "--minimum_proportion ${meta.filtering_min_proportion}" : ''),
            (meta.filtering_grouping_var ? "--grouping_variable \"${meta.filtering_grouping_var}\"" : ''),
            (meta.filtering_min_proportion_not_na ? "--minimum_proportion_not_na \"${meta.filtering_min_proportion_not_na}\"" : ''),
            (meta.filtering_min_samples_not_na ? "--minimum_samples_not_na \"${meta.filtering_min_samples_not_na}\"" : '')
        ].join(' ').trim()}
    }

    withName: 'CUSTOM_TABULARTOGSEACLS' {
        publishDir = [
            enabled: false
        ]
        ext.args = { [ "separator": "\t", "variable": "$meta.variable" ] }
    }

    withName: 'CUSTOM_TABULARTOGSEAGCT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'CUSTOM_TABULARTOGSEACHIP' {
        tag = {"${meta.study_name}"}
        ext.prefix = { "${meta.study_name}" }
        publishDir = [
            enabled: false
        ]
    }
}
